<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <!-- HEADER -->

    <div class="header">
      <div class="title_logo">
        <a  href="https://hodlinfo.com"><img class="logo" src="Resources/tag.png"/></a>
          <p class="header_p" style="margin-top:-10px">Powered By<a href="https://finstreet.com"> Finstreet</a></p>
      </div>

    </div>

    <div class="mid">
      <a href="https://finstreet.com"><img class="banner1" src="Resources/banner1.png" alt=""></a>
    </div>

    <div class="table">
      <table>
        <thead>
          <tr>
            <th>#</th> <th>name</th> <th>last</th> <th>buy/sell</th ><th>volume</th> <th>base_unit</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="ftd">1</td> <td><%=arr[0].name%></td> <td>₹<%=arr[0].last%></td> <td>₹<%=arr[0].buy%>/₹<%=arr[0].sell%></td ><td><%=arr[0].volume%></td> <td class="ltd"><%=arr[0].base_unit%></td>
          </tr>

          <tr>
            <td class="ftd">2</td> <td><%=arr[1].name%></td> <td>₹<%=arr[1].last%></td> <td>₹<%=arr[1].buy%>/₹<%=arr[1].sell%></td ><td><%=arr[1].volume%></td> <td class="ltd"><%=arr[1].base_unit%></td>
          </tr>

          <tr>
            <td class="ftd">3</td> <td><%=arr[2].name%></td> <td>₹<%=arr[2].last%></td> <td>₹<%=arr[2].buy%>/₹<%=arr[2].sell%></td ><td><%=arr[2].volume%></td> <td class="ltd"><%=arr[2].base_unit%></td>
          </tr>

          <tr>
            <td class="ftd">4</td> <td><%=arr[3].name%></td> <td>₹<%=arr[3].last%></td> <td>₹<%=arr[3].buy%>/₹<%=arr[3].sell%></td ><td><%=arr[3].volume%></td> <td class="ltd"><%=arr[3].base_unit%></td>
          </tr>

          <tr>
            <td class="ftd">5</td> <td><%=arr[4].name%></td> <td>₹<%=arr[4].last%></td> <td>₹<%=arr[4].buy%>/₹<%=arr[4].sell%></td ><td><%=arr[4].volume%></td> <td class="ltd"><%=arr[4].base_unit%></td>
          </tr>

          <tr>
            <td class="ftd">6</td> <td><%=arr[5].name%></td> <td>₹<%=arr[5].last%></td> <td>₹<%=arr[5].buy%>/₹<%=arr[5].sell%></td ><td><%=arr[5].volume%></td> <td><%=arr[5].base_unit%></td>
          </tr>

          <tr>
            <td class="ftd">7</td> <td><%=arr[6].name%></td> <td>₹<%=arr[6].last%></td> <td>₹<%=arr[6].buy%>/₹<%=arr[6].sell%></td ><td><%=arr[6].volume%></td> <td><%=arr[6].base_unit%></td>
          </tr>

          <tr>
            <td class="ftd">8</td> <td><%=arr[7].name%></td> <td>₹<%=arr[7].last%></td> <td>₹<%=arr[7].buy%>/₹<%=arr[7].sell%></td ><td><%=arr[7].volume%></td> <td class="ltd"><%=arr[7].base_unit%></td>
          </tr>

          <tr>
            <td class="ftd">9</td> <td><%=arr[8].name%></td> <td>₹<%=arr[8].last%></td> <td>₹<%=arr[8].buy%>/₹<%=arr[8].sell%></td ><td><%=arr[8].volume%></td> <td class="ltd"><%=arr[8].base_unit%></td>
          </tr>

          <tr>
            <td class="ftd">10</td> <td><%=arr[9].name%></td> <td>₹<%=arr[9].last%></td> <td>₹<%=arr[9].buy%>/₹<%=arr[9].sell%></td ><td><%=arr[9].volume%></td> <td class="ltd"><%=arr[9].base_unit%></td>
          </tr>
        </tbody>

      </table>
    </div>
      <a href="https://www.algorand.com/futurefi/"><img class="banner2" src="Resources/banner2.jpg"></a>
    <div class="footer">
      <hr>
    </div>
  </body>
</html>
